# CODEOWNERS
# Dos aprobaciones siempre (se controla en la regla de rama)
# /src: pueden aprobar Developers o Maintainers
/src/  @Back-End-TechTrend-Emporium/developers @Back-End-TechTrend-Emporium/maintainers

# Workflows de CI/CD: solo Maintainers
/.github/workflows/  @Back-End-TechTrend-Emporium/maintainers
